.start-panel {
    display: grid;
    grid-template-columns: 50px 160px auto;
    gap: 10px;
}
.start-panel__icons {
    display: grid;
    grid-template-rows: 1fr;
}
.start-panel__grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
        "office zabava"
        "internet zabava";
    gap: 10px;
    align-content: start;
}
.apps--office {
    grid-area: office;
}
.apps--web {
    grid-area: internet;
}
.apps--other {
    grid-area: zabava;
}
.apps__grid {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    grid-auto-rows: 50px;
    grid-gap: 5px;
}
.app--g2x2 {
    grid-column-end: span 2;
    grid-row-end: span 2;
}
.app--g2x1 {
    grid-column-end: span 1;
    grid-row-end: span 2;
}
.app--g1x2 {
    grid-column-end: span 2;
    grid-row-end: span 1;
}
.app--off-3 {
    grid-column-start: 3;
}
.app--off-4 {
    grid-column-start: 5;
    grid-row-start: 2;
}
.app--off-5 {
    grid-column-start: 5;
    grid-row-start: 1;
}
.app--in-3 {
    grid-column-start: 3;
    grid-row-start: 1;
}
.app--fun-2 {
    grid-column-start: 3;
    grid-row-start: 3;
}
.app--fun-3 {
    grid-column-start: 5;
    grid-row-start: 5;
}